[Desktop Entry]
Type=Application
Exec=/usr/bin/thunderbird
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Thunderbird
Name=Thunderbird
Comment[en_US]=Autostart Thunderbird
Comment=Autostart Thunderbird